<html lang="es" xml:lan="es" xmlns:th="http://www.thymeLeaf.org">
	<head>
	</head>
	<body>
	<form th:action="@{/quiz5}" method="post">
	<h1>5ª Pregunta</h1>
	<fieldset>
		<legend>¿Cual era el nombre de pila del personaje secundario?</legend>
			<p>
				<input type="radio" name="nombreSecundario" value="jessy">Jessy
			</p>
			<p>
				<input type="radio" name="nombreSecundario" value="jesse">Jesse
			</p>
			<p>
				<input type="radio" name="nombreSecundario" value="jasson">Jasson
			</p>
			<p>
				<input type="radio" name="nombreSecundario" value="jhonson">Jhonson
			</p>
		<input type="submit" value="Enviar">	
	</fieldset>
	</body>
</html>