<html lang="es" xml:lan="es" xmlns:th="http://www.thymeLeaf.org">
	<head>
	</head>
	<body>
	<form th:action="@{/quiz7}" method="post">
	<h1>7ª Pregunta</h1>
	<fieldset>
		<legend>¿Cual es la duracion de la serie?</legend>
			<p>
				<input type="radio" name="anio" value="2002-2006">2002-2006
			</p>
			<p>
				<input type="radio" name="anio" value="2008-2013">2008-2013
			</p>
			<p>
				<input type="radio" name="anio" value="2013-2018">2013-2018
			</p>
			<p>
				<input type="radio" name="anio" value="2000-2008">2000-2008
			</p>
	<input type="submit" value="Enviar">
	</fieldset>
	</body>
</html>