<html lang="es" xml:lan="es" xmlns:th="http://www.thymeLeaf.org">
	<head>
	</head>
	<body>
	<form th:action="@{/quiz6}" method="post">
	<h1>6ª Pregunta</h1>
	<fieldset>
		<legend>Es la edad de Walter White al inicio de la serie</legend>
			<p>
				<input type="radio" name="50" value="50">50
			</p>
			<p>
				<input type="radio" name="54" value="54">54
			</p>
			<p>
				<input type="radio" name="49" value="49">49
			</p>
			<p>
				<input type="radio" name="51" value="51">51
			</p>
	<input type="submit" value="Enviar">
	</fieldset>
	</form>
	</body>
</html>